@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat&display=swap');

*{  
    padding: 0;
    margin: 0;
    
}
body{
    overflow-x: hidden;
    position: relative;
}

.fa {
    padding: 8px;
    font-size: 25px;
    color: black;
    text-align: center;
    border-radius: 5%;
    text-decoration: none;
}

.fa:hover{
    opacity: 0.5;
}

.top-container{
    display: flex;
    justify-content: space-around;
    height: 10vh;  
    left: 0px;
    right: 0px;
    align-items: center;
}

div.social-links{
    display: flex;
    align-items: center;
}

header.header{
    display: flex;
    justify-content: center;
    
    
}
header a{
    font-family: 'Dancing Script',cursive;
    font-size: 40px;
    text-decoration: none;
    color: rgb(22, 22, 22);
}
nav.page-nav a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 5px 20px;
    transition: 0.8s transform;
}

.page-nav a:hover{
    background: rgb(0, 0, 0, 0.2);
}

.burger{
    display:none;
    cursor: pointer;
}

.burger div
{
    width: 30px;
    height: 4px;
    background-color: rgb(22, 22, 22);
    margin: 6px 0;
}



@media only screen and (max-width: 640px) {
    body{
        overflow-x: hidden;
        
    } 
    header a{
        font-size: 25px;
        padding-right: 30px;
    }

    .fa{
        font-size: 13px;
        padding: 2px;
        border: none;
        
    }
    .burger{
        display: block;
    }

    .burger div{
        width: 18px;
        height: 3px;
        background-color: rgb(22, 22, 22);
        margin: 6px 0;
        transition: 0.5s transform;
    }

    nav.page-nav {
        background-color: rgb(22, 22, 22, 0.8) ;
        position: absolute;
        right: 0;
        top: 10vh;
        height: 90vh;
        width: 50vh;
        align-items: center;
        transform: opacity(0%);
        transition: transform 0.5s;
        display: none;
        flex-direction: column;
        justify-content: space-around;
    }
    nav.page-nav a{
        color:rgb(201, 201, 201);
        opacity:0;
    }
}
    @keyframes navLinkFade{
        from {
            opacity: 0;
            transform: translateX(50%);
        }   
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle .lin1{
        transform: rotate(-45deg) translate(-6px,3px);
        /* background-color: aqua;  */
    }
    .toggle .lin2{
        opacity: 0;
    }
    .toggle .lin3{
        transform: rotate(45deg) translate(-9px,-7px);
    }

    nav.page-nav.nav-active{
    transform: opacity(100%);
    display: flex;
    }